/* Color Palette
#2B2D42 - dark blue
#8D99AE - light blue
#EDF2F4 - blue/white
#EF233C - red
*/

/*border box fix*/
html{
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;   
}

/* Global
----------------------------------*/

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;

}

h1,h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px 50px;
    overflow: auto;
}

.col-narrow{
    width: 30%;
    float: left;
    /*min-height: 200px;*/
}

.col-wide{
    width: 70%;
    float: left;
    padding-left: 20px;
    /*min-height: 200px;*/
}

a {
    color: #EF233C;
}

a:hover {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    text-decoration: none;
    background: #EF233C;
    color: white;
    padding: 10px;
    display: inline-block;
}


/*profile image*/
.profile-img {
    border-radius: 50%;
}

/* Header
--------------------------------*/
header {
    padding-top: 50px;
    position: relative;
}
header, footer{
    background: #2B2D42;
    color: #8D99AE;
}

header h1, header h2 {
    color: #EDF2F4;
    margin: 0;
}

header {
    text-align: left;
}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Navigation
----------------------------------*/
nav {
    text-align: center;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a{
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700; /*bold*/
}


/*Work
  ---------------------------------*/
.work, .technical{
    background: #EDF2F4;
}

h3 ~ p {
    margin: 0;
}

h4 ~ p {
    margin: 0;
}

.project-description {
    margin-bottom: 25px;
}


/*Education*/

.education {
    background: #8D99AE;
}

/*footer*/

footer{
    text-align: center;
}

.contact-info a{
    padding: 10px;
    display: inline-block;
}